.titleAbout{
    font-size: 40px;
}
.textAbout{
    font-size: large;
}
.leftSide{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0,21,36);
    background: linear-gradient(180deg, rgba(0,21,36,0.804359243697479) 0%, rgba(71,83,91,1) 100%);
}
.rightSide{
    padding-left: 70px;
}
.logoStyle{
    width: 340px;
    align-items: center;
}
.container{
    height: 450px;
    text-align: center;
}